.place__website {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width: 456px;
    height: 46px;
}

@media screen and (max-width: 767px) {
    .place__website {
      max-width: calc(100% - 2*16px);
      padding-left: 16px;
    }
  }